<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand bg-dark fw-semibold text-light rounded-pill p-2" href="#">DJ04</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-semibold text-dark border border-dark rounded-pill p-2 mx-2" href="{% url 'index' %}">Инфо о фильмах</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-semibold text-dark border border-dark rounded-pill p-2 mx-2" href="{% url 'add_films' %}">Добавить запись</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 fw-semibold text-dark p-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-secondary fw-semibold p-2" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>


